<!DOCTYPE html>
<html>
<head>
  <title>QAdmin</title>
  <%= stylesheet_link_tag    "qadmin/application", :media => "all" %>
  <%= javascript_include_tag "qadmin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
