<% content_for :title do %>
  <h1>Listing <%= resource_collection_name %></h1>
<% end %>

<%= render 'collection_list' %>

<div class="actions">
  <%= link_to "New Resource", new_resource_url, class: 'btn btn-big btn-primary' %>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>
